In [4]:
import pandas as pd, json

In [5]:
samples_frame = pd.read_csv('Samples-Of-Interest.csv')

In [6]:
samples_json = json.loads(samples_frame['Sample ID'].to_json())

In [21]:
list_of_samples_filenames = [('sample-' + str(int(v[7:])) + '.csv', v) for k,v in samples_json.items()]
print(list_of_samples_filenames[0])

('sample-25.csv', 'Sample_0025')

In [10]:
single_test_frame = pd.read_csv('blood-samples/sample-1001.csv')

In [48]:
cols1 = single_test_frame.columns.tolist()
cols2 = samples_frame.columns.tolist()
cols1.extend(cols2)

newdf = pd.DataFrame(columns=cols1)
print(newdf.columns)

Index(['Unnamed: 0', 'car_chr', 'car_start', 'car_end', 'car_size',
       'car_intlogqvalue', 'car_foldchange', 'car_pvalue', 'car_qvalue',
       'car_summit_to_start', 'car_sample_id', 'car_region_id', 'car_gsm_id',
       'car_risk_snp_anno', 'car_eqtl_anno', 'car_crisps_anno', 'car_te_anno',
       'car_se_anno', 'car_methylation_anno', 'car_interaction_anno',
       'car_commmon_snp_anno', 'Sample ID', 'Biosample type', 'Biosample name',
       'Tissue type', 'Cancer type', 'Region number'],
      dtype='object')

In [49]:
for filename, sample_name in list_of_samples_filenames:
    print(filename, sample_name)
    sample_df = pd.read_csv('blood-samples/' + filename)
    this_sample_metadata = samples_frame[samples_frame['Sample ID'] == sample_name]
    display(this_sample_metadata)
    
    sample_df['Sample ID'] = this_sample_metadata.iloc[0]['Sample ID']
    sample_df['Biosample type'] = this_sample_metadata.iloc[0]['Biosample type']
    sample_df['Biosample name'] = this_sample_metadata.iloc[0]['Biosample name']
    sample_df['Tissue type'] = this_sample_metadata.iloc[0]['Tissue type']
    sample_df['Cancer type'] = this_sample_metadata.iloc[0]['Cancer type']
    sample_df['Region number'] = this_sample_metadata.iloc[0]['Region number']
    newdf = pd.concat([newdf, sample_df])

sample-25.csv Sample_0025

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
0,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025

sample-26.csv Sample_0026

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
1,Sample_0026,Primary Cell,CD56Bright natural killer cell,Blood,Normal,50447

sample-27.csv Sample_0027

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
2,Sample_0027,Primary Cell,CD56Bright natural killer cell,Blood,Normal,47349

sample-28.csv Sample_0028

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
3,Sample_0028,Primary Cell,CD56Bright natural killer cell,Blood,Normal,46698

sample-29.csv Sample_0029

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
4,Sample_0029,Primary Cell,CD56Dim natural killer cell,Blood,Normal,40745

sample-30.csv Sample_0030

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
5,Sample_0030,Primary Cell,CD56Dim natural killer cell,Blood,Normal,35916

sample-31.csv Sample_0031

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
6,Sample_0031,Primary Cell,CD56Dim natural killer cell,Blood,Normal,34589

sample-32.csv Sample_0032

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
7,Sample_0032,Tissue,Hematologic malignancy,Blood,Leukemia,71117

sample-33.csv Sample_0033

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
8,Sample_0033,Tissue,Hematologic malignancy,Blood,Leukemia,70206

sample-34.csv Sample_0034

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
9,Sample_0034,Tissue,Hematologic malignancy,Blood,Leukemia,71638

sample-93.csv Sample_0093

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
10,Sample_0093,Cell Line,CLL,Blood,Leukemia,40549

sample-94.csv Sample_0094

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
11,Sample_0094,Cell Line,CLL,Blood,Leukemia,36524

sample-95.csv Sample_0095

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
12,Sample_0095,Cell Line,CLL,Blood,Leukemia,26085

sample-96.csv Sample_0096

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
13,Sample_0096,Cell Line,CLL,Blood,Leukemia,23067

sample-104.csv Sample_0104

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
14,Sample_0104,Other,HAEC,Blood,Coronary artery disease,39789

sample-105.csv Sample_0105

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
15,Sample_0105,Other,HAEC,Blood,Coronary artery disease,38133

sample-106.csv Sample_0106

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
16,Sample_0106,Other,HAEC,Blood,Coronary artery disease,54883

sample-107.csv Sample_0107

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
17,Sample_0107,Other,HAEC,Blood,Coronary artery disease,41134

sample-108.csv Sample_0108

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
18,Sample_0108,Other,HAEC,Blood,Coronary artery disease,42349

sample-109.csv Sample_0109

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
19,Sample_0109,Other,HAEC,Blood,Coronary artery disease,28762

sample-110.csv Sample_0110

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
20,Sample_0110,Other,HAEC,Blood,Coronary artery disease,22686

sample-111.csv Sample_0111

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
21,Sample_0111,Other,HAEC,Blood,Coronary artery disease,38213

sample-112.csv Sample_0112

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
22,Sample_0112,Other,HAEC,Blood,Coronary artery disease,35342

sample-113.csv Sample_0113

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
23,Sample_0113,Other,HAEC,Blood,Coronary artery disease,40677

sample-114.csv Sample_0114

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
24,Sample_0114,Other,HAEC,Blood,Coronary artery disease,34188

sample-128.csv Sample_0128

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
25,Sample_0128,Cell Line,GM12878,Blood,Normal,18445

sample-129.csv Sample_0129

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
26,Sample_0129,Cell Line,GM12878,Blood,Normal,16954

sample-130.csv Sample_0130

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
27,Sample_0130,Cell Line,GM12878,Blood,Normal,16322

sample-131.csv Sample_0131

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
28,Sample_0131,Cell Line,GM12878,Blood,Normal,13729

sample-199.csv Sample_0199

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
29,Sample_0199,Other,Bulk_B,Blood,Normal,43470

sample-200.csv Sample_0200

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
30,Sample_0200,Other,Bulk_B,Blood,Normal,51747

sample-201.csv Sample_0201

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
31,Sample_0201,Other,Mem_B,Blood,Normal,46151

sample-202.csv Sample_0202

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
32,Sample_0202,Other,Mem_B,Blood,Normal,47805

sample-203.csv Sample_0203

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
33,Sample_0203,Other,Naive_B,Blood,Normal,42238

sample-204.csv Sample_0204

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
34,Sample_0204,Other,Naive_B,Blood,Normal,49971

sample-205.csv Sample_0205

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
35,Sample_0205,Other,Plasmablast,Blood,Normal,44012

sample-206.csv Sample_0206

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
36,Sample_0206,Other,CD8pos_T,Blood,Normal,42890

sample-207.csv Sample_0207

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
37,Sample_0207,Other,CD8pos_T,Blood,Normal,58592

sample-208.csv Sample_0208

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
38,Sample_0208,Other,Central_memory_CD8pos_T,Blood,Normal,49046

sample-209.csv Sample_0209

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
39,Sample_0209,Other,Central_memory_CD8pos_T,Blood,Normal,60809

sample-210.csv Sample_0210

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
40,Sample_0210,Other,Effector_memory_CD8pos_T,Blood,Normal,45711

sample-211.csv Sample_0211

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
41,Sample_0211,Other,Effector_memory_CD8pos_T,Blood,Normal,47229

sample-212.csv Sample_0212

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
42,Sample_0212,Other,Naive_CD8_T,Blood,Normal,35081

sample-213.csv Sample_0213

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
43,Sample_0213,Other,Naive_CD8_T,Blood,Normal,55448

sample-214.csv Sample_0214

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
44,Sample_0214,Other,Gamma_delta_T,Blood,Normal,40886

sample-215.csv Sample_0215

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
45,Sample_0215,Other,Effector_CD4pos_T,Blood,Normal,41936

sample-216.csv Sample_0216

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
46,Sample_0216,Other,Effector_CD4pos_T,Blood,Normal,61012

sample-217.csv Sample_0217

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
47,Sample_0217,Other,Follicular_T_Helper,Blood,Normal,49293

sample-218.csv Sample_0218

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
48,Sample_0218,Other,Follicular_T_Helper,Blood,Normal,86674

sample-219.csv Sample_0219

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
49,Sample_0219,Other,Memory_Teffs,Blood,Normal,39295

sample-220.csv Sample_0220

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
50,Sample_0220,Other,Memory_Teffs,Blood,Normal,62666

sample-221.csv Sample_0221

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
51,Sample_0221,Other,Memory_Tregs,Blood,Normal,33123

sample-222.csv Sample_0222

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
52,Sample_0222,Other,Memory_Tregs,Blood,Normal,45399

sample-223.csv Sample_0223

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
53,Sample_0223,Other,Naive_Teffs,Blood,Normal,32036

sample-224.csv Sample_0224

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
54,Sample_0224,Other,Naive_Teffs,Blood,Normal,55569

sample-225.csv Sample_0225

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
55,Sample_0225,Other,Regulatory_T,Blood,Normal,30536

sample-226.csv Sample_0226

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
56,Sample_0226,Other,Regulatory_T,Blood,Normal,31101

sample-227.csv Sample_0227

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
57,Sample_0227,Other,Th1,Blood,Normal,41270

sample-228.csv Sample_0228

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
58,Sample_0228,Other,Th1,Blood,Normal,63319

sample-229.csv Sample_0229

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
59,Sample_0229,Other,Th17,Blood,Normal,46037

sample-230.csv Sample_0230

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
60,Sample_0230,Other,Th17,Blood,Normal,67676

sample-231.csv Sample_0231

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
61,Sample_0231,Other,Th2,Blood,Normal,44737

sample-232.csv Sample_0232

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
62,Sample_0232,Other,Th2,Blood,Normal,68402

sample-233.csv Sample_0233

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
63,Sample_0233,Other,Immature_NK,Blood,Normal,41297

sample-234.csv Sample_0234

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
64,Sample_0234,Other,Natural Killer Cell,Blood,Normal,44104

sample-235.csv Sample_0235

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
65,Sample_0235,Other,Natural Killer Cell,Blood,Normal,42289

sample-236.csv Sample_0236

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
66,Sample_0236,Other,Natural Killer Cell,Blood,Normal,35331

sample-237.csv Sample_0237

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
67,Sample_0237,Other,Monocytes,Blood,Normal,43361

sample-238.csv Sample_0238

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
68,Sample_0238,Other,Monocytes,Blood,Normal,38564

sample-239.csv Sample_0239

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
69,Sample_0239,Other,Plasmacytoid dendritic cell,Blood,Normal,83223

sample-240.csv Sample_0240

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
70,Sample_0240,Other,Plasmacytoid dendritic cell,Blood,Normal,42970

sample-241.csv Sample_0241

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
71,Sample_0241,Other,pDCs,Blood,Normal,16211

sample-242.csv Sample_0242

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
72,Sample_0242,Other,Bulk_B,Blood,Normal,51385

sample-243.csv Sample_0243

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
73,Sample_0243,Other,Bulk_B,Blood,Normal,15623

sample-244.csv Sample_0244

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
74,Sample_0244,Other,Mem_B,Blood,Normal,58578

sample-245.csv Sample_0245

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
75,Sample_0245,Other,Mem_B,Blood,Normal,28840

sample-246.csv Sample_0246

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
76,Sample_0246,Other,Naive_B,Blood,Normal,51169

sample-247.csv Sample_0247

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
77,Sample_0247,Other,Naive_B,Blood,Normal,38093

sample-248.csv Sample_0248

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
78,Sample_0248,Other,Plasmablast,Blood,Normal,38009

sample-249.csv Sample_0249

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
79,Sample_0249,Other,CD8pos_T,Blood,Normal,19808

sample-250.csv Sample_0250

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
80,Sample_0250,Other,Central_memory_CD8pos_T,Blood,Normal,55905

sample-251.csv Sample_0251

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
81,Sample_0251,Other,Central_memory_CD8pos_T,Blood,Normal,45177

sample-252.csv Sample_0252

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
82,Sample_0252,Other,Effector_memory_CD8pos_T,Blood,Normal,51720

sample-253.csv Sample_0253

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
83,Sample_0253,Other,Effector_memory_CD8pos_T,Blood,Normal,24529

sample-254.csv Sample_0254

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
84,Sample_0254,Other,Naive_CD8_T,Blood,Normal,25996

sample-255.csv Sample_0255

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
85,Sample_0255,Other,Naive_CD8_T,Blood,Normal,27362

sample-256.csv Sample_0256

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
86,Sample_0256,Other,Gamma_delta_T,Blood,Normal,38580

sample-257.csv Sample_0257

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
87,Sample_0257,Other,Gamma_delta_T,Blood,Normal,25905

sample-258.csv Sample_0258

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
88,Sample_0258,Other,Effector_CD4pos_T,Blood,Normal,64842

sample-259.csv Sample_0259

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
89,Sample_0259,Other,Effector_CD4pos_T,Blood,Normal,28703

sample-260.csv Sample_0260

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
90,Sample_0260,Other,Follicular_T_Helper,Blood,Normal,60227

sample-261.csv Sample_0261

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
91,Sample_0261,Other,Follicular_T_Helper,Blood,Normal,25336

sample-262.csv Sample_0262

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
92,Sample_0262,Other,Memory_Teff,Blood,Normal,61663

sample-263.csv Sample_0263

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
93,Sample_0263,Other,Memory_Teff,Blood,Normal,11223

sample-264.csv Sample_0264

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
94,Sample_0264,Other,Memory_Tregs,Blood,Normal,41499

sample-265.csv Sample_0265

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
95,Sample_0265,Other,Memory_Tregs,Blood,Normal,12060

sample-266.csv Sample_0266

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
96,Sample_0266,Other,Naive_Teffs,Blood,Normal,50343

sample-267.csv Sample_0267

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
97,Sample_0267,Other,Naive_Teffs,Blood,Normal,13500

sample-268.csv Sample_0268

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
98,Sample_0268,Other,Regulatory_T,Blood,Normal,40754

sample-269.csv Sample_0269

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
99,Sample_0269,Other,Regulatory_T,Blood,Normal,34613

sample-270.csv Sample_0270

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
100,Sample_0270,Other,Th17,Blood,Normal,61287

sample-271.csv Sample_0271

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
101,Sample_0271,Other,Th17,Blood,Normal,38294

sample-272.csv Sample_0272

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
102,Sample_0272,Other,Th17,Blood,Normal,64668

sample-273.csv Sample_0273

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
103,Sample_0273,Other,Th17,Blood,Normal,21152

sample-274.csv Sample_0274

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
104,Sample_0274,Other,Th2,Blood,Normal,68355

sample-275.csv Sample_0275

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
105,Sample_0275,Other,Th2,Blood,Normal,45602

sample-276.csv Sample_0276

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
106,Sample_0276,Other,Immature_NK,Blood,Normal,31375

sample-277.csv Sample_0277

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
107,Sample_0277,Other,Mature_NK,Blood,Normal,16237

sample-278.csv Sample_0278

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
108,Sample_0278,Other,Memory_NK,Blood,Normal,20030

sample-279.csv Sample_0279

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
109,Sample_0279,Other,Myeloid_DCs,Blood,Normal,18023

sample-280.csv Sample_0280

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
110,Sample_0280,Other,Plasmacytoid dendritic cell,Blood,Normal,67972

sample-281.csv Sample_0281

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
111,Sample_0281,Other,pDCs,Blood,Normal,35873

sample-282.csv Sample_0282

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
112,Sample_0282,Other,Bulk_B,Blood,Normal,41851

sample-283.csv Sample_0283

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
113,Sample_0283,Other,Bulk_B,Blood,Normal,41949

sample-284.csv Sample_0284

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
114,Sample_0284,Other,Mem_B,Blood,Normal,52703

sample-285.csv Sample_0285

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
115,Sample_0285,Other,Mem_B,Blood,Normal,40643

sample-286.csv Sample_0286

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
116,Sample_0286,Other,Naive_B,Blood,Normal,45950

sample-287.csv Sample_0287

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
117,Sample_0287,Other,Naive_B,Blood,Normal,31742

sample-288.csv Sample_0288

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
118,Sample_0288,Other,CD8pos_T,Blood,Normal,59393

sample-289.csv Sample_0289

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
119,Sample_0289,Other,CD8pos_T,Blood,Normal,33766

sample-290.csv Sample_0290

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
120,Sample_0290,Other,Central_memory_CD8pos_T,Blood,Normal,56753

sample-291.csv Sample_0291

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
121,Sample_0291,Other,Central_memory_CD8pos_T,Blood,Normal,42352

sample-292.csv Sample_0292

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
122,Sample_0292,Other,Effector_memory_CD8pos_T,Blood,Normal,56601

sample-293.csv Sample_0293

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
123,Sample_0293,Other,Effector_memory_CD8pos_T,Blood,Normal,24639

sample-294.csv Sample_0294

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
124,Sample_0294,Other,Naive_CD8_T,Blood,Normal,56822

sample-295.csv Sample_0295

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
125,Sample_0295,Other,Naive_CD8_T,Blood,Normal,38697

sample-296.csv Sample_0296

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
126,Sample_0296,Other,Gamma_delta_T,Blood,Normal,52688

sample-297.csv Sample_0297

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
127,Sample_0297,Other,Gamma_delta_T,Blood,Normal,35305

sample-298.csv Sample_0298

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
128,Sample_0298,Other,Effector_CD4pos_T,Blood,Normal,38204

sample-299.csv Sample_0299

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
129,Sample_0299,Other,Effector_CD4pos_T,Blood,Normal,36012

sample-300.csv Sample_0300

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
130,Sample_0300,Other,Follicular_T_Helper,Blood,Normal,52215

sample-301.csv Sample_0301

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
131,Sample_0301,Other,Follicular_T_Helper,Blood,Normal,42064

sample-302.csv Sample_0302

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
132,Sample_0302,Other,Memory_Teffs,Blood,Normal,52511

sample-303.csv Sample_0303

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
133,Sample_0303,Other,Memory_Teffs,Blood,Normal,37806

sample-304.csv Sample_0304

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
134,Sample_0304,Other,Memory_Tregs,Blood,Normal,45969

sample-305.csv Sample_0305

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
135,Sample_0305,Other,Naive_Teffs,Blood,Normal,40786

sample-306.csv Sample_0306

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
136,Sample_0306,Other,Naive_Teffs,Blood,Normal,41098

sample-307.csv Sample_0307

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
137,Sample_0307,Other,Regulatory_T,Blood,Normal,34394

sample-308.csv Sample_0308

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
138,Sample_0308,Other,Regulatory_T,Blood,Normal,47116

sample-309.csv Sample_0309

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
139,Sample_0309,Other,Th1,Blood,Normal,39083

sample-310.csv Sample_0310

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
140,Sample_0310,Other,Th1,Blood,Normal,58022

sample-311.csv Sample_0311

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
141,Sample_0311,Other,Th17,Blood,Normal,57384

sample-312.csv Sample_0312

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
142,Sample_0312,Other,Th2,Blood,Normal,40017

sample-313.csv Sample_0313

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
143,Sample_0313,Other,Th2,Blood,Normal,43653

sample-314.csv Sample_0314

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
144,Sample_0314,Other,Immature_NK,Blood,Normal,28756

sample-315.csv Sample_0315

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
145,Sample_0315,Other,Mature_NK,Blood,Normal,36935

sample-316.csv Sample_0316

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
146,Sample_0316,Other,Mature_NK,Blood,Normal,29050

sample-317.csv Sample_0317

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
147,Sample_0317,Other,Monocytes,Blood,Normal,23677

sample-318.csv Sample_0318

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
148,Sample_0318,Other,Monocytes,Blood,Normal,18360

sample-319.csv Sample_0319

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
149,Sample_0319,Other,Bulk_B,Blood,Normal,33119

sample-320.csv Sample_0320

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
150,Sample_0320,Other,Mem_B,Blood,Normal,24433

sample-321.csv Sample_0321

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
151,Sample_0321,Other,Naive_B,Blood,Normal,26360

sample-322.csv Sample_0322

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
152,Sample_0322,Other,CD8pos_T,Blood,Normal,31861

sample-323.csv Sample_0323

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
153,Sample_0323,Other,Central_memory_CD8pos_T,Blood,Normal,35005

sample-324.csv Sample_0324

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
154,Sample_0324,Other,Central_memory_CD8pos_T,Blood,Normal,29191

sample-325.csv Sample_0325

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
155,Sample_0325,Other,Effector_memory_CD8pos_T,Blood,Normal,41803

sample-326.csv Sample_0326

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
156,Sample_0326,Other,Effector_memory_CD8pos_T,Blood,Normal,39113

sample-327.csv Sample_0327

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
157,Sample_0327,Other,Naive_CD8_T,Blood,Normal,24925

sample-328.csv Sample_0328

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
158,Sample_0328,Other,Naive_CD8_T,Blood,Normal,35188

sample-329.csv Sample_0329

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
159,Sample_0329,Other,Gamma_delta_T,Blood,Normal,35384

sample-330.csv Sample_0330

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
160,Sample_0330,Other,Gamma_delta_T,Blood,Normal,39434

sample-331.csv Sample_0331

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
161,Sample_0331,Other,Effector_CD4pos_T,Blood,Normal,30408

sample-332.csv Sample_0332

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
162,Sample_0332,Other,Follicular_T_Helper,Blood,Normal,17609

sample-333.csv Sample_0333

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
163,Sample_0333,Other,Follicular_T_Helper,Blood,Normal,41428

sample-334.csv Sample_0334

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
164,Sample_0334,Other,Memory_Teffs,Blood,Normal,32359

sample-335.csv Sample_0335

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
165,Sample_0335,Other,Memory_Teffs,Blood,Normal,45791

sample-336.csv Sample_0336

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
166,Sample_0336,Other,Memory_Tregs,Blood,Normal,24820

sample-337.csv Sample_0337

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
167,Sample_0337,Other,Memory_Tregs,Blood,Normal,35966

sample-338.csv Sample_0338

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
168,Sample_0338,Other,Naive_Teffs,Blood,Normal,26619

sample-339.csv Sample_0339

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
169,Sample_0339,Other,Naive_Teffs,Blood,Normal,39738

sample-340.csv Sample_0340

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
170,Sample_0340,Other,Naive_Tregs,Blood,Normal,21397

sample-341.csv Sample_0341

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
171,Sample_0341,Other,Naive_Tregs,Blood,Normal,39003

sample-342.csv Sample_0342

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
172,Sample_0342,Other,Regulatory_T,Blood,Normal,29088

sample-343.csv Sample_0343

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
173,Sample_0343,Other,Regulatory_T,Blood,Normal,32828

sample-344.csv Sample_0344

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
174,Sample_0344,Other,Th1,Blood,Normal,25819

sample-345.csv Sample_0345

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
175,Sample_0345,Other,Th1,Blood,Normal,45204

sample-346.csv Sample_0346

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
176,Sample_0346,Other,Th17,Blood,Normal,31586

sample-347.csv Sample_0347

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
177,Sample_0347,Other,Th17,Blood,Normal,39686

sample-348.csv Sample_0348

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
178,Sample_0348,Other,Th2,Blood,Normal,34667

sample-349.csv Sample_0349

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
179,Sample_0349,Other,Th2,Blood,Normal,42441

sample-350.csv Sample_0350

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
180,Sample_0350,Other,Immature_NK,Blood,Normal,31750

sample-351.csv Sample_0351

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
181,Sample_0351,Other,Mature_NK,Blood,Normal,29267

sample-352.csv Sample_0352

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
182,Sample_0352,Other,Mature_NK,Blood,Normal,27101

sample-353.csv Sample_0353

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
183,Sample_0353,Other,Naive_Tregs,Blood,Normal,17384

sample-354.csv Sample_0354

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
184,Sample_0354,Other,Immature_NK,Blood,Normal,23921

sample-355.csv Sample_0355

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
185,Sample_0355,Other,Mature_NK,Blood,Normal,18772

sample-356.csv Sample_0356

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
186,Sample_0356,Other,Mature_NK,Blood,Normal,22315

sample-357.csv Sample_0357

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
187,Sample_0357,Other,Memory_NK,Blood,Normal,33116

sample-358.csv Sample_0358

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
188,Sample_0358,Other,Monocytes,Blood,Normal,23459

sample-359.csv Sample_0359

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
189,Sample_0359,Other,Plasmacytoid dendritic cell,Blood,Normal,20779

sample-360.csv Sample_0360

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
190,Sample_0360,Other,Follicular_T_Helper,Blood,Normal,22639

sample-361.csv Sample_0361

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
191,Sample_0361,Other,Naive_Tregs,Blood,Normal,29323

sample-362.csv Sample_0362

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
192,Sample_0362,Other,Mature_NK,Blood,Normal,22646

sample-363.csv Sample_0363

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
193,Sample_0363,Other,Monocytes,Blood,Normal,27239

sample-447.csv Sample_0447

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
194,Sample_0447,Primary Cell,Monocyte,Blood,Normal,31513

sample-543.csv Sample_0543

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
195,Sample_0543,Cell Line,Jurkat,Blood,Leukemia,23687

sample-544.csv Sample_0544

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
196,Sample_0544,Cell Line,U937,Blood,Leukemia,55734

sample-584.csv Sample_0584

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
197,Sample_0584,Cell Line,MOLM13,Blood,Leukemia,42992

sample-585.csv Sample_0585

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
198,Sample_0585,Cell Line,MOLM13,Blood,Leukemia,45652

sample-586.csv Sample_0586

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
199,Sample_0586,Cell Line,MOLM13,Blood,Leukemia,30389

sample-587.csv Sample_0587

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
200,Sample_0587,Cell Line,MOLM13,Blood,Leukemia,31277

sample-614.csv Sample_0614

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
201,Sample_0614,Cell Line,ME-1,Blood,Leukemia,29143

sample-615.csv Sample_0615

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
202,Sample_0615,Cell Line,ME-1,Blood,Leukemia,34854

sample-616.csv Sample_0616

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
203,Sample_0616,Cell Line,ME-1,Blood,Leukemia,38188

sample-617.csv Sample_0617

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
204,Sample_0617,Cell Line,ME-1,Blood,Leukemia,38874

sample-659.csv Sample_0659

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
205,Sample_0659,Primary Cell,THP1 AML cell,Blood,Leukemia,19176

sample-660.csv Sample_0660

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
206,Sample_0660,Primary Cell,THP1 AML cell,Blood,Leukemia,26034

sample-692.csv Sample_0692

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
207,Sample_0692,Cell Line,HL-60,Blood,Leukemia,37682

sample-693.csv Sample_0693

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
208,Sample_0693,Cell Line,HL-60,Blood,Leukemia,20014

sample-694.csv Sample_0694

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
209,Sample_0694,Cell Line,HL-60,Blood,Leukemia,19306

sample-703.csv Sample_0703

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
210,Sample_0703,Primary Cell,Natural Killer cell,Blood,Normal,17010

sample-704.csv Sample_0704

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
211,Sample_0704,Primary Cell,Natural Killer cell,Blood,Normal,17335

sample-705.csv Sample_0705

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
212,Sample_0705,Primary Cell,Natural Killer cell,Blood,Normal,25715

sample-706.csv Sample_0706

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
213,Sample_0706,Primary Cell,Cultured T cell,Blood,Normal,14656

sample-707.csv Sample_0707

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
214,Sample_0707,Primary Cell,Cultured T cell,Blood,Normal,12886

sample-708.csv Sample_0708

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
215,Sample_0708,Primary Cell,Cultured T cell,Blood,Normal,24590

sample-709.csv Sample_0709

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
216,Sample_0709,Primary Cell,Cultured T cell,Blood,Normal,14990

sample-714.csv Sample_0714

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
217,Sample_0714,Cell Line,MM1S,Blood,Myeloma,34091

sample-726.csv Sample_0726

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
218,Sample_0726,Cell Line,CCRF-CEM,Blood,Cultured cancer,12193

sample-727.csv Sample_0727

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
219,Sample_0727,Cell Line,CCRF-CEM,Blood,Cultured cancer,20918

sample-728.csv Sample_0728

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
220,Sample_0728,Cell Line,CCRF-CEM,Blood,Cultured cancer,19022

sample-729.csv Sample_0729

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
221,Sample_0729,Cell Line,CCRF-CEM,Blood,Cultured cancer,16977

sample-730.csv Sample_0730

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
222,Sample_0730,Cell Line,CCRF-CEM,Blood,Cultured cancer,18210

sample-731.csv Sample_0731

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
223,Sample_0731,Primary Cell,CCRF-CEM SLFN11-knockout,Blood,Cultured cancer,16841

sample-732.csv Sample_0732

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
224,Sample_0732,Cell Line,Lymphoblast,Blood,Cultured cancer,3907

sample-733.csv Sample_0733

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
225,Sample_0733,Cell Line,K562,Blood,Cultured cancer,4028

sample-734.csv Sample_0734

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
226,Sample_0734,Cell Line,Lymphoblast,Blood,Cultured cancer,9251

sample-735.csv Sample_0735

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
227,Sample_0735,Cell Line,Lymphoblast,Blood,Cultured cancer,3987

sample-736.csv Sample_0736

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
228,Sample_0736,Cell Line,Lymphoblast,Blood,Cultured cancer,7341

sample-737.csv Sample_0737

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
229,Sample_0737,Cell Line,Lymphoblast,Blood,Cultured cancer,9934

sample-748.csv Sample_0748

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
230,Sample_0748,Induced pluripotent stem cell line,LCL,Blood,Other,23342

sample-749.csv Sample_0749

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
231,Sample_0749,Induced pluripotent stem cell line,LCL,Blood,Other,15687

sample-750.csv Sample_0750

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
232,Sample_0750,Induced pluripotent stem cell line,LCL,Blood,Other,42246

sample-751.csv Sample_0751

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
233,Sample_0751,Induced pluripotent stem cell line,LCL,Blood,Other,11086

sample-752.csv Sample_0752

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
234,Sample_0752,Induced pluripotent stem cell line,LCL,Blood,Other,30400

sample-753.csv Sample_0753

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
235,Sample_0753,Induced pluripotent stem cell line,LCL,Blood,Other,54878

sample-754.csv Sample_0754

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
236,Sample_0754,Induced pluripotent stem cell line,LCL,Blood,Other,27181

sample-755.csv Sample_0755

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
237,Sample_0755,Induced pluripotent stem cell line,LCL,Blood,Other,18520

sample-756.csv Sample_0756

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
238,Sample_0756,Induced pluripotent stem cell line,LCL,Blood,Other,26331

sample-757.csv Sample_0757

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
239,Sample_0757,Induced pluripotent stem cell line,LCL,Blood,Other,27841

sample-758.csv Sample_0758

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
240,Sample_0758,Induced pluripotent stem cell line,LCL,Blood,Other,10829

sample-759.csv Sample_0759

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
241,Sample_0759,Induced pluripotent stem cell line,LCL,Blood,Other,122876

sample-760.csv Sample_0760

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
242,Sample_0760,Induced pluripotent stem cell line,LCL,Blood,Other,22605

sample-761.csv Sample_0761

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
243,Sample_0761,Induced pluripotent stem cell line,LCL,Blood,Other,30942

sample-762.csv Sample_0762

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
244,Sample_0762,Induced pluripotent stem cell line,LCL,Blood,Other,17693

sample-763.csv Sample_0763

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
245,Sample_0763,Induced pluripotent stem cell line,LCL,Blood,Other,30963

sample-764.csv Sample_0764

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
246,Sample_0764,Induced pluripotent stem cell line,LCL,Blood,Other,28791

sample-765.csv Sample_0765

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
247,Sample_0765,Induced pluripotent stem cell line,LCL,Blood,Other,11248

sample-824.csv Sample_0824

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
248,Sample_0824,Primary Cell,YF,Blood,The Yellow fever,981

sample-825.csv Sample_0825

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
249,Sample_0825,Primary Cell,YF,Blood,The Yellow fever,6980

sample-826.csv Sample_0826

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
250,Sample_0826,Primary Cell,YF,Blood,The Yellow fever,10716

sample-827.csv Sample_0827

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
251,Sample_0827,Primary Cell,YF,Blood,The Yellow fever,10768

sample-828.csv Sample_0828

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
252,Sample_0828,Primary Cell,YF,Blood,The Yellow fever,11211

sample-829.csv Sample_0829

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
253,Sample_0829,Primary Cell,YF,Blood,The Yellow fever,7899

sample-830.csv Sample_0830

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
254,Sample_0830,Primary Cell,YF,Blood,The Yellow fever,4428

sample-831.csv Sample_0831

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
255,Sample_0831,Primary Cell,YF,Blood,The Yellow fever,3741

sample-832.csv Sample_0832

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
256,Sample_0832,Primary Cell,YF,Blood,The Yellow fever,10649

sample-833.csv Sample_0833

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
257,Sample_0833,Primary Cell,YF,Blood,The Yellow fever,8751

sample-834.csv Sample_0834

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
258,Sample_0834,Primary Cell,YF,Blood,The Yellow fever,6607

sample-835.csv Sample_0835

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
259,Sample_0835,Primary Cell,YF,Blood,The Yellow fever,9265

sample-836.csv Sample_0836

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
260,Sample_0836,Primary Cell,YF,Blood,The Yellow fever,8638

sample-837.csv Sample_0837

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
261,Sample_0837,Primary Cell,YF,Blood,The Yellow fever,9390

sample-838.csv Sample_0838

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
262,Sample_0838,Primary Cell,YF,Blood,The Yellow fever,8298

sample-839.csv Sample_0839

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
263,Sample_0839,Cell Line,T_T,Blood,The Yellow fever,3693

sample-840.csv Sample_0840

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
264,Sample_0840,Cell Line,T_T,Blood,The Yellow fever,4204

sample-841.csv Sample_0841

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
265,Sample_0841,Cell Line,T_T,Blood,The Yellow fever,18620

sample-842.csv Sample_0842

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
266,Sample_0842,Cell Line,T_T,Blood,The Yellow fever,11834

sample-843.csv Sample_0843

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
267,Sample_0843,Cell Line,T_T,Blood,The Yellow fever,17944

sample-844.csv Sample_0844

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
268,Sample_0844,Cell Line,T_T,Blood,The Yellow fever,5307

sample-845.csv Sample_0845

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
269,Sample_0845,Cell Line,T_T,Blood,The Yellow fever,3592

sample-846.csv Sample_0846

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
270,Sample_0846,Cell Line,T_T,Blood,The Yellow fever,14812

sample-847.csv Sample_0847

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
271,Sample_0847,Cell Line,T_T,Blood,The Yellow fever,5341

sample-848.csv Sample_0848

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
272,Sample_0848,Cell Line,T_T,Blood,The Yellow fever,14655

sample-849.csv Sample_0849

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
273,Sample_0849,Cell Line,T_T,Blood,The Yellow fever,2540

sample-850.csv Sample_0850

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
274,Sample_0850,Cell Line,T_T,Blood,The Yellow fever,21670

sample-851.csv Sample_0851

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
275,Sample_0851,Cell Line,T_T,Blood,The Yellow fever,15793

sample-852.csv Sample_0852

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
276,Sample_0852,Cell Line,T_T,Blood,The Yellow fever,16071

sample-853.csv Sample_0853

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
277,Sample_0853,Cell Line,T_T,Blood,The Yellow fever,11312

sample-854.csv Sample_0854

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
278,Sample_0854,Cell Line,T_T,Blood,The Yellow fever,13184

sample-883.csv Sample_0883

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
279,Sample_0883,Cell Line,Jurkat,Blood,Leukemia,58074

sample-884.csv Sample_0884

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
280,Sample_0884,Cell Line,Jurkat,Blood,Leukemia,43310

sample-885.csv Sample_0885

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
281,Sample_0885,Cell Line,Jurkat,Blood,Leukemia,61769

sample-886.csv Sample_0886

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
282,Sample_0886,Cell Line,Jurkat,Blood,Leukemia,70715

sample-887.csv Sample_0887

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
283,Sample_0887,Cell Line,Jurkat,Blood,Leukemia,50251

sample-888.csv Sample_0888

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
284,Sample_0888,Cell Line,Jurkat,Blood,Leukemia,72964

sample-889.csv Sample_0889

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
285,Sample_0889,Cell Line,Jurkat,Blood,Leukemia,71035

sample-890.csv Sample_0890

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
286,Sample_0890,Cell Line,Jurkat,Blood,Leukemia,69263

sample-891.csv Sample_0891

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
287,Sample_0891,Cell Line,Jurkat,Blood,Leukemia,78899

sample-892.csv Sample_0892

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
288,Sample_0892,Cell Line,Jurkat,Blood,Leukemia,74938

sample-893.csv Sample_0893

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
289,Sample_0893,Cell Line,Jurkat,Blood,Leukemia,82176

sample-940.csv Sample_0940

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
290,Sample_0940,Cell Line,J-Lat-A72,Blood,HIV-1,19403

sample-941.csv Sample_0941

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
291,Sample_0941,Cell Line,J-Lat-A72,Blood,HIV-1,13517

sample-942.csv Sample_0942

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
292,Sample_0942,Cell Line,J-Lat-A72,Blood,HIV-1,20340

sample-943.csv Sample_0943

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
293,Sample_0943,Cell Line,J-Lat-A72,Blood,HIV-1,27748

sample-1001.csv Sample_1001

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
294,Sample_1001,Stem Cell,Stem Cell,Blood,Normal,38235

sample-1002.csv Sample_1002

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
295,Sample_1002,Stem Cell,Stem Cell,Blood,Normal,33320

sample-1017.csv Sample_1017

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
296,Sample_1017,Primary Cell,CD8 T cell,Blood,Normal,30886

sample-1018.csv Sample_1018

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
297,Sample_1018,Primary Cell,CD8 T cell,Blood,Normal,34433

sample-1019.csv Sample_1019

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
298,Sample_1019,Primary Cell,CD8 T cell,Blood,Normal,31422

sample-1020.csv Sample_1020

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
299,Sample_1020,Primary Cell,CD8 T cell,Blood,Normal,36763

sample-1021.csv Sample_1021

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
300,Sample_1021,Primary Cell,CD8 T cell,Blood,Normal,34992

sample-1022.csv Sample_1022

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
301,Sample_1022,Primary Cell,CD8 T cell,Blood,Melanoma,34202

sample-1023.csv Sample_1023

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
302,Sample_1023,Primary Cell,CD8 T cell,Blood,Melanoma,37081

sample-1096.csv Sample_1096

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
303,Sample_1096,Cell Line,CEM,Blood,Leukemia,3577

sample-1097.csv Sample_1097

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
304,Sample_1097,Cell Line,CEM,Blood,Leukemia,2538

sample-1100.csv Sample_1100

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
305,Sample_1100,Other,Monocyte,Blood,Other,40437

sample-1101.csv Sample_1101

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
306,Sample_1101,Other,Monocyte,Blood,Other,33628

sample-1102.csv Sample_1102

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
307,Sample_1102,Other,Monocyte,Blood,Other,57430

sample-1103.csv Sample_1103

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
308,Sample_1103,Other,Monocyte,Blood,Other,25023

sample-1104.csv Sample_1104

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
309,Sample_1104,Other,Monocyte,Blood,Other,36172

sample-1105.csv Sample_1105

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
310,Sample_1105,Other,Monocyte,Blood,Other,27511

sample-1115.csv Sample_1115

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
311,Sample_1115,Cell Line,GM12878,Blood,Normal,24433

sample-1116.csv Sample_1116

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
312,Sample_1116,Cell Line,GM12878,Blood,Normal,34406

sample-1117.csv Sample_1117

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
313,Sample_1117,Cell Line,GM12878,Blood,Normal,21714

sample-1169.csv Sample_1169

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
314,Sample_1169,Primary Cell,CD19+ B cell,Blood,Normal,28729

sample-1170.csv Sample_1170

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
315,Sample_1170,Primary Cell,CD19+ B cell,Blood,Normal,36256

sample-1171.csv Sample_1171

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
316,Sample_1171,Primary Cell,CD19+ B cell,Blood,Normal,39175

sample-1172.csv Sample_1172

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
317,Sample_1172,Primary Cell,CD19+ B cell,Blood,Normal,33070

sample-1173.csv Sample_1173

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
318,Sample_1173,Primary Cell,CD19+ B cell,Blood,Normal,30213

sample-1174.csv Sample_1174

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
319,Sample_1174,Primary Cell,CD19+ B cell,Blood,Normal,38690

sample-1175.csv Sample_1175

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
320,Sample_1175,Primary Cell,CD19+ B cell,Blood,Normal,40752

sample-1176.csv Sample_1176

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
321,Sample_1176,Primary Cell,CD19+ B cell,Blood,Normal,34903

sample-1177.csv Sample_1177

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
322,Sample_1177,Primary Cell,CD19+ B cell,Blood,Normal,33517

sample-1178.csv Sample_1178

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
323,Sample_1178,Primary Cell,CD19+ B cell,Blood,Normal,23552

sample-1179.csv Sample_1179

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
324,Sample_1179,Primary Cell,CD19+ B cell,Blood,Normal,30380

sample-1189.csv Sample_1189

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
325,Sample_1189,Primary Cell,Natural Killer Cell,Blood,Normal,1131

sample-1190.csv Sample_1190

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
326,Sample_1190,Primary Cell,Natural Killer Cell,Blood,Normal,30102

sample-1191.csv Sample_1191

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
327,Sample_1191,Cell Line,LNCaP,Blood,Normal,609

sample-1192.csv Sample_1192

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
328,Sample_1192,Cell Line,LNCaP,Blood,Normal,8431

sample-1194.csv Sample_1194

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
329,Sample_1194,Cell Line,PBMC,Blood,Normal,713

sample-1195.csv Sample_1195

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
330,Sample_1195,Cell Line,PBMC,Blood,Normal,5924

sample-1196.csv Sample_1196

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
331,Sample_1196,Cell Line,PBMC,Blood,Normal,634

sample-1204.csv Sample_1204

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
332,Sample_1204,Cell Line,GM12878,Blood,Normal,52127

sample-1205.csv Sample_1205

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
333,Sample_1205,Cell Line,GM12878,Blood,Normal,65937

sample-1206.csv Sample_1206

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
334,Sample_1206,Cell Line,GM12878,Blood,Normal,62742

sample-1207.csv Sample_1207

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
335,Sample_1207,Cell Line,GM12878,Blood,Normal,61899

sample-1208.csv Sample_1208

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
336,Sample_1208,Cell Line,GM12878,Blood,Normal,83548

sample-1209.csv Sample_1209

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
337,Sample_1209,Cell Line,GM12878,Blood,Normal,85630

sample-1210.csv Sample_1210

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
338,Sample_1210,Cell Line,GM12878,Blood,Normal,25

sample-1233.csv Sample_1233

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
339,Sample_1233,Primary Cell,CD34+ HSPC,Blood,Normal,23876

sample-1234.csv Sample_1234

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
340,Sample_1234,Primary Cell,CD34+ HSPC,Blood,Normal,27820

sample-1235.csv Sample_1235

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
341,Sample_1235,Primary Cell,CD34+ HSPC,Blood,Normal,11699

sample-1236.csv Sample_1236

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
342,Sample_1236,Primary Cell,CD34+ HSPC,Blood,Normal,10051

sample-1237.csv Sample_1237

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
343,Sample_1237,Primary Cell,CD34+ HSPC,Blood,Normal,16463

sample-1238.csv Sample_1238

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
344,Sample_1238,Primary Cell,CD34+ HSPC,Blood,Normal,8526

sample-1239.csv Sample_1239

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
345,Sample_1239,Primary Cell,CD34+ HSPC,Blood,Normal,20054

sample-1240.csv Sample_1240

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
346,Sample_1240,Primary Cell,CD34+ HSPC,Blood,Normal,14615

sample-1241.csv Sample_1241

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
347,Sample_1241,Primary Cell,CD34+ HSPC,Blood,Normal,3527

sample-1242.csv Sample_1242

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
348,Sample_1242,Primary Cell,CD34+ HSPC,Blood,Normal,6879

sample-1243.csv Sample_1243

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
349,Sample_1243,Primary Cell,CD34+ HSPC,Blood,Normal,2626

sample-1244.csv Sample_1244

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
350,Sample_1244,Primary Cell,CD4+ T cell,Blood,Normal,6303

sample-1245.csv Sample_1245

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
351,Sample_1245,Primary Cell,CD4+ T cell,Blood,Normal,5835

sample-1246.csv Sample_1246

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
352,Sample_1246,Primary Cell,CD4+ T cell,Blood,Normal,7785

sample-1247.csv Sample_1247

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
353,Sample_1247,Primary Cell,CD4+ T cell,Blood,Normal,9567

sample-1248.csv Sample_1248

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
354,Sample_1248,Primary Cell,CD4+ T cell,Blood,Normal,13005

sample-1249.csv Sample_1249

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
355,Sample_1249,Primary Cell,CD4+ T cell,Blood,Normal,22775

sample-1250.csv Sample_1250

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
356,Sample_1250,Primary Cell,CD4+ T cell,Blood,Normal,20986

sample-1251.csv Sample_1251

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
357,Sample_1251,Primary Cell,CD4+ T cell,Blood,Normal,22013

sample-1252.csv Sample_1252

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
358,Sample_1252,Primary Cell,CD4+ T cell,Blood,Normal,8139

sample-1253.csv Sample_1253

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
359,Sample_1253,Primary Cell,CD4+ T cell,Blood,Normal,12530

sample-1254.csv Sample_1254

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
360,Sample_1254,Primary Cell,CD4+ T cell,Blood,Normal,8436

sample-1255.csv Sample_1255

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
361,Sample_1255,Primary Cell,CD4+ T cell,Blood,Normal,11895

sample-1256.csv Sample_1256

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
362,Sample_1256,Primary Cell,CD4+ T cell,Blood,Normal,5858

sample-1257.csv Sample_1257

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
363,Sample_1257,Primary Cell,CD4+ T cell,Blood,Normal,6133

sample-1258.csv Sample_1258

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
364,Sample_1258,Primary Cell,CD4+ T cell,Blood,Normal,4326

sample-1259.csv Sample_1259

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
365,Sample_1259,Primary Cell,CD4+ T cell,Blood,Normal,8763

sample-1260.csv Sample_1260

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
366,Sample_1260,Primary Cell,CD4+ T cell,Blood,Normal,8984

sample-1261.csv Sample_1261

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
367,Sample_1261,Primary Cell,CD4+ T cell,Blood,Normal,11143

sample-1262.csv Sample_1262

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
368,Sample_1262,Primary Cell,CD4+ T cell,Blood,Normal,9778

sample-1263.csv Sample_1263

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
369,Sample_1263,Primary Cell,CD4+ T cell,Blood,Normal,9610

sample-1264.csv Sample_1264

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
370,Sample_1264,Primary Cell,CD4+ T cell,Blood,Normal,12734

sample-1265.csv Sample_1265

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
371,Sample_1265,Primary Cell,CD4+ T cell,Blood,Normal,14775

sample-1266.csv Sample_1266

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
372,Sample_1266,Primary Cell,CD4+ T cell,Blood,Normal,15737

sample-1267.csv Sample_1267

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
373,Sample_1267,Primary Cell,CD4+ T cell,Blood,Normal,5404

sample-1268.csv Sample_1268

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
374,Sample_1268,Primary Cell,CD4+ T cell,Blood,Leukemia,9800

sample-1269.csv Sample_1269

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
375,Sample_1269,Primary Cell,CD4+ T cell,Blood,Leukemia,2520

sample-1270.csv Sample_1270

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
376,Sample_1270,Primary Cell,CD4+ T cell,Blood,Leukemia,7825

sample-1271.csv Sample_1271

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
377,Sample_1271,Primary Cell,CD4+ T cell,Blood,Leukemia,10794

sample-1272.csv Sample_1272

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
378,Sample_1272,Primary Cell,CD4+ T cell,Blood,Leukemia,19930

sample-1273.csv Sample_1273

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
379,Sample_1273,Primary Cell,CD4+ T cell,Blood,Leukemia,22626

sample-1274.csv Sample_1274

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
380,Sample_1274,Primary Cell,CD4+ T cell,Blood,Leukemia,18604

sample-1275.csv Sample_1275

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
381,Sample_1275,Primary Cell,CD4+ T cell,Blood,Normal,14723

sample-1276.csv Sample_1276

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
382,Sample_1276,Primary Cell,CD4+ T cell,Blood,Normal,13581

sample-1277.csv Sample_1277

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
383,Sample_1277,Primary Cell,CD4+ T cell,Blood,Normal,1111

sample-1278.csv Sample_1278

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
384,Sample_1278,Primary Cell,CD4+ T cell,Blood,Leukemia,11877

sample-1279.csv Sample_1279

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
385,Sample_1279,Primary Cell,CD4+ T cell,Blood,Leukemia,13573

sample-1280.csv Sample_1280

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
386,Sample_1280,Primary Cell,CD4+ T cell,Blood,Leukemia,6431

sample-1281.csv Sample_1281

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
387,Sample_1281,Primary Cell,CD4+ T cell,Blood,Leukemia,10658

sample-1282.csv Sample_1282

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
388,Sample_1282,Primary Cell,CD4+ T cell,Blood,Leukemia,9231

sample-1283.csv Sample_1283

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
389,Sample_1283,Primary Cell,CD4+ T cell,Blood,Leukemia,18345

sample-1284.csv Sample_1284

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
390,Sample_1284,Primary Cell,CD4+ T cell,Blood,Leukemia,7321

sample-1285.csv Sample_1285

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
391,Sample_1285,Primary Cell,CD4+ T cell,Blood,Leukemia,22158

sample-1286.csv Sample_1286

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
392,Sample_1286,Primary Cell,CD4+ T cell,Blood,Leukemia,17291

sample-1287.csv Sample_1287

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
393,Sample_1287,Primary Cell,CD4+ T cell,Blood,Leukemia,7151

sample-1288.csv Sample_1288

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
394,Sample_1288,Primary Cell,CD4+ T cell,Blood,Leukemia,14199

sample-1289.csv Sample_1289

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
395,Sample_1289,Primary Cell,CD4+ T cell,Blood,Leukemia,12864

sample-1290.csv Sample_1290

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
396,Sample_1290,Primary Cell,CD4+ T cell,Blood,Leukemia,15192

sample-1291.csv Sample_1291

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
397,Sample_1291,Primary Cell,CD4+ T cell,Blood,Leukemia,11849

sample-1292.csv Sample_1292

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
398,Sample_1292,Primary Cell,CD4+ T cell,Blood,Leukemia,14009

sample-1293.csv Sample_1293

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
399,Sample_1293,Primary Cell,CD4+ T cell,Blood,Leukemia,11963

sample-1294.csv Sample_1294

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
400,Sample_1294,Primary Cell,CD4+ T cell,Blood,Leukemia,8400

sample-1295.csv Sample_1295

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
401,Sample_1295,Primary Cell,CD4+ T cell,Blood,Leukemia,13897

sample-1296.csv Sample_1296

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
402,Sample_1296,Primary Cell,CD4+ T cell,Blood,Normal,3567

sample-1297.csv Sample_1297

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
403,Sample_1297,Primary Cell,CD4+ T cell,Blood,Normal,12156

sample-1298.csv Sample_1298

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
404,Sample_1298,Primary Cell,CD4+ T cell,Blood,Normal,4481

sample-1299.csv Sample_1299

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
405,Sample_1299,Primary Cell,CD4+ T cell,Blood,Normal,11004

sample-1300.csv Sample_1300

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
406,Sample_1300,Cell Line,Mixture of GM12878 and Patski mouse embryonic ...,Blood,Normal,4759

sample-1301.csv Sample_1301

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
407,Sample_1301,Cell Line,Mixture of GM12878 and HEK293T,Blood,Normal,11007

sample-1302.csv Sample_1302

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
408,Sample_1302,Cell Line,Mixture of GM12878 and HL-60,Blood,Normal,7633

sample-1303.csv Sample_1303

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
409,Sample_1303,Cell Line,Mixture of GM12878 and HL-60,Blood,Normal,57101

sample-1304.csv Sample_1304

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
410,Sample_1304,Cell Line,Mixture of GM12878 and HL-60,Blood,Normal,64027

sample-1305.csv Sample_1305

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
411,Sample_1305,Cell Line,Mixture of GM12878 and HL-60,Blood,Normal,45501

sample-1306.csv Sample_1306

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
412,Sample_1306,Cell Line,GM12878,Blood,Normal,24997

sample-1307.csv Sample_1307

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
413,Sample_1307,Cell Line,GM12878,Blood,Normal,30542

sample-1308.csv Sample_1308

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
414,Sample_1308,Cell Line,GM12878,Blood,Normal,26770

sample-1309.csv Sample_1309

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
415,Sample_1309,Cell Line,Raji,Blood,Lymphoma,27828

sample-1310.csv Sample_1310

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
416,Sample_1310,Cell Line,Rj2_2_5,Blood,Lymphoma,17112

sample-1312.csv Sample_1312

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
417,Sample_1312,Cell Line,GM12878,Blood,Normal,24997

sample-1313.csv Sample_1313

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
418,Sample_1313,Cell Line,GM12878,Blood,Normal,30542

sample-1314.csv Sample_1314

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
419,Sample_1314,Cell Line,GM12878,Blood,Normal,26770

sample-1315.csv Sample_1315

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
420,Sample_1315,Cell Line,GM12878,Blood,Normal,403

sample-1316.csv Sample_1316

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
421,Sample_1316,Cell Line,GM12878,Blood,Normal,386

sample-1317.csv Sample_1317

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
422,Sample_1317,Primary Cell,CD4+ T cell,Blood,Normal,7785

sample-1318.csv Sample_1318

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
423,Sample_1318,Primary Cell,CD4+ T cell,Blood,Normal,9567

sample-1319.csv Sample_1319

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
424,Sample_1319,Primary Cell,CD4+ T cell,Blood,Normal,13005

sample-1320.csv Sample_1320

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
425,Sample_1320,Primary Cell,CD4+ T cell,Blood,Normal,22775

sample-1321.csv Sample_1321

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
426,Sample_1321,Primary Cell,CD4+ T cell,Blood,Normal,2664

sample-1322.csv Sample_1322

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
427,Sample_1322,Primary Cell,CD4+ T cell,Blood,Normal,9740

sample-1323.csv Sample_1323

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
428,Sample_1323,Tissue,HCASMC,Blood,Coronary artery disease,48254

sample-1324.csv Sample_1324

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
429,Sample_1324,Tissue,HCASMC,Blood,Coronary artery disease,67441

sample-1325.csv Sample_1325

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
430,Sample_1325,Tissue,HCASMC,Blood,Coronary artery disease,43672

sample-1326.csv Sample_1326

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
431,Sample_1326,Tissue,HCASMC,Blood,Coronary artery disease,124489

sample-1327.csv Sample_1327

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
432,Sample_1327,Tissue,HCASMC,Blood,Coronary artery disease,53422

sample-1328.csv Sample_1328

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
433,Sample_1328,Tissue,HCASMC,Blood,Coronary artery disease,61360

sample-1368.csv Sample_1368

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
434,Sample_1368,Primary Cell,CD8+ T cell,Blood,Normal,26645

sample-1369.csv Sample_1369

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
435,Sample_1369,Primary Cell,CD8+ T cell,Blood,Normal,23935

sample-1370.csv Sample_1370

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
436,Sample_1370,Primary Cell,CD8+ T cell,Blood,Normal,24948

sample-1371.csv Sample_1371

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
437,Sample_1371,Primary Cell,CD8+ T cell,Blood,Normal,29265

sample-1372.csv Sample_1372

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
438,Sample_1372,Primary Cell,CD8+ T cell,Blood,Normal,22768

sample-1373.csv Sample_1373

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
439,Sample_1373,Primary Cell,CD8+ T cell,Blood,Normal,21143

sample-1460.csv Sample_1460

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
440,Sample_1460,Primary Cell,B cell,Blood,Hypogammaglobulinemia,8853

sample-1461.csv Sample_1461

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
441,Sample_1461,Primary Cell,B cell,Blood,Hypogammaglobulinemia,15675

sample-1462.csv Sample_1462

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
442,Sample_1462,Primary Cell,B cell,Blood,Hypogammaglobulinemia,12078

sample-1463.csv Sample_1463

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
443,Sample_1463,Primary Cell,B cell,Blood,Hypogammaglobulinemia,21377

sample-1464.csv Sample_1464

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
444,Sample_1464,Primary Cell,B cell,Blood,Hypogammaglobulinemia,26705

sample-1465.csv Sample_1465

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
445,Sample_1465,Cell Line,HL-60,Blood,Normal,10161

sample-1466.csv Sample_1466

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
446,Sample_1466,Cell Line,HL-60,Blood,Normal,17588

sample-1467.csv Sample_1467

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
447,Sample_1467,Other,Macrophage,Blood,Other,10568

sample-1468.csv Sample_1468

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
448,Sample_1468,Other,Monocyte,Blood,Other,6102

sample-1469.csv Sample_1469

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
449,Sample_1469,Other,Monocyte,Blood,Other,8042

sample-1470.csv Sample_1470

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
450,Sample_1470,Other,Neutrophile,Blood,Other,7806

sample-1471.csv Sample_1471

,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
451,Sample_1471,Other,Neutrophile,Blood,Other,2297

In [50]:
display(newdf)

,Unnamed: 0,car_chr,car_start,car_end,car_size,car_intlogqvalue,car_foldchange,car_pvalue,car_qvalue,car_summit_to_start,...,car_se_anno,car_methylation_anno,car_interaction_anno,car_commmon_snp_anno,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
0,0,chr1,9997,10802,805,1359,13.36316,138.88042,135.96225,204,...,0,0,1,5,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
1,1,chr1,20963,21340,377,108,5.73316,13.03911,10.84643,329,...,0,0,0,0,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
2,2,chr1,28785,29747,962,1636,18.39825,166.64635,163.63165,551,...,0,189,3,1,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
3,3,chr1,437449,437967,518,106,6.4973,12.8899,10.6993,515,...,0,0,0,0,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
4,4,chr1,540776,541301,525,263,9.65766,28.77254,26.39556,193,...,2,0,6,4,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,2292,chrX,154114631,154114832,201,37,5.04009,7.24935,3.76321,188,...,0,0,38,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2293,2293,chrX,155260120,155260357,237,156,11.22684,19.67217,15.62795,148,...,0,0,4,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2294,2294,chrY,135329,136629,1300,48,6.01933,8.49998,4.89773,381,...,0,0,0,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2295,2295,chrY,1461084,1461275,191,64,6.6143,10.11682,6.40602,62,...,0,0,94,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2296,2296,chrY,59363042,59363393,351,245,14.6518,28.74249,24.53721,244,...,0,0,4,0,Sample_1471,Other,Neutrophile,Blood,Other,2297

In [51]:
newdf_clean = newdf.drop('Unnamed: 0', axis=1)

In [52]:
display(newdf_clean)

,car_chr,car_start,car_end,car_size,car_intlogqvalue,car_foldchange,car_pvalue,car_qvalue,car_summit_to_start,car_sample_id,...,car_se_anno,car_methylation_anno,car_interaction_anno,car_commmon_snp_anno,Sample ID,Biosample type,Biosample name,Tissue type,Cancer type,Region number
0,chr1,9997,10802,805,1359,13.36316,138.88042,135.96225,204,25,...,0,0,1,5,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
1,chr1,20963,21340,377,108,5.73316,13.03911,10.84643,329,25,...,0,0,0,0,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
2,chr1,28785,29747,962,1636,18.39825,166.64635,163.63165,551,25,...,0,189,3,1,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
3,chr1,437449,437967,518,106,6.4973,12.8899,10.6993,515,25,...,0,0,0,0,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
4,chr1,540776,541301,525,263,9.65766,28.77254,26.39556,193,25,...,2,0,6,4,Sample_0025,Primary Cell,CD56Bright natural killer cell,Blood,Normal,48025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2292,chrX,154114631,154114832,201,37,5.04009,7.24935,3.76321,188,1471,...,0,0,38,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2293,chrX,155260120,155260357,237,156,11.22684,19.67217,15.62795,148,1471,...,0,0,4,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2294,chrY,135329,136629,1300,48,6.01933,8.49998,4.89773,381,1471,...,0,0,0,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2295,chrY,1461084,1461275,191,64,6.6143,10.11682,6.40602,62,1471,...,0,0,94,0,Sample_1471,Other,Neutrophile,Blood,Other,2297
2296,chrY,59363042,59363393,351,245,14.6518,28.74249,24.53721,244,1471,...,0,0,4,0,Sample_1471,Other,Neutrophile,Blood,Other,2297

In [53]:
newdf_clean.to_csv('blood-samples/full-data.csv')